<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISampleServiceAsincrono" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GettingStarted/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISampleServiceAsincrono"
                contract="ServiceReference1.ISampleServiceAsincrono" name="WSHttpBinding_ISampleServiceAsincrono">
                <identity>
                    <userPrincipalName value="DESKTOP-6RJTDOC\ADMIN" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>